<nav class="w-full flex h-auto p-3 align-items-center justify-content-between" style="background-color:#181c2e">
    <div class="text-3xl font-semibold text-green-50">Chat App</div>
    <div>
        <p-menubar [model]="items"></p-menubar>
    </div>
</nav>

<section class="grid m-2">
    <div class="col-4">
        <div class=" p-3 border-round-lg font-bold bg-teal-600">
            <div class="text-xl font-semibold font text-100">Doneo Card</div>
            <div class="text-md font-normal font text-200 mt-2">From easy spend management, to personal rewards and
                investments. Get your card in a jiffy</div>
        </div>
    </div>
    <div class="col-4">
        <div class=" p-3 border-round-lg font-bold bg-teal-600">
            <div class="text-xl font-semibold font text-100">Neomaxer</div>
            <div class="text-md font-normal font text-200 mt-2">From easy spend management, to personal rewards and
                investments. Get your card in a jiffy</div>
        </div>
    </div>
    <div class="col-4">
        <div class=" p-3 border-round-lg font-bold bg-teal-600">
            <div class="text-xl font-semibold font text-100">Neoledger</div>
            <div class="text-md font-normal font text-200 mt-2">From easy spend management, to personal rewards and
                investments. Get your card in a jiffy</div>
        </div>
    </div>
    <div class="col-4">
        <div class=" p-3 border-round-lg font-bold bg-teal-600">
            <div class="text-xl font-semibold font text-100">Neo Corp</div>
            <div class="text-md font-normal font text-200 mt-2">From easy spend management, to personal rewards and
                investments. Get your card in a jiffy</div>
        </div>
    </div>
    <div class="col-4">
        <div class=" p-3 border-round-lg font-bold bg-teal-600">
            <div class="text-xl font-semibold font text-100">Neobuy</div>
            <div class="text-md font-normal font text-200 mt-2">From easy spend management, to personal rewards and
                investments. Get your card in a jiffy</div>
        </div>
    </div>
    <div class="col-4">
        <div class=" p-3 border-round-lg font-bold bg-teal-600">
            <div class="text-xl font-semibold font text-100">Neosale</div>
            <div class="text-md font-normal font text-200 mt-2">From easy spend management, to personal rewards and
                investments. Get your card in a jiffy</div>
        </div>
    </div>
    <div class="col-4">
        <div class=" p-3 border-round-lg font-bold bg-teal-600">
            <div class="text-xl font-semibold font text-100">MechArc</div>
            <div class="text-md font-normal font text-200 mt-2">From easy spend management, to personal rewards and
                investments. Get your card in a jiffy</div>
        </div>
    </div>

</section>